<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/app.css" data-inline="data-inline">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
    </style>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <div class="mail-container">
        <div class="header">
            <img class="img-banner" src="https://s3.amazonaws.com/colcafepdnimagenes/banner_mail.png"
                 alt="banner_capsulas_express">
        </div>
        <div class="body">
            <div class="main-container">
                <div class="welcome-row">
                    <h1>¡Bienvenido al Club Express!</h1>
                    <span>El club de los que hacen especial cualquier momento</span>
                </div>

                <h3>Hola {{firstName}}</h3>
                <p>¡Ya eres parte del Club Express! Prepárate para disfrutar más cada<br>momento con los beneficios
                    exclusivos que
                    tenemos para ti:</p>
                <div class="cards-container">
                    <div class="card">
                        <div class="capsule-container">
                            <div>
                                <img src="https://s3.amazonaws.com/colcafepdnimagenes/03.Noticias.png" alt="noticias">
                                <span>Noticias</span>
                            </div>
                        </div>
                        <p class="card-text">Entérate en primicia<br><strong>de las últimas noticias</strong><br>de nuestra
                            marca</p>
                    </div>
                    <div class="card">
                        <div class="capsule-container">
                            <div>
                                <img src="https://s3.amazonaws.com/colcafepdnimagenes/05.Sorpresas.png" alt="sorpresas">
                                <span>Sorpresas</span>
                            </div>

                        </div>
                        <p class="card-text">Recibe increíbles<br><strong>sorpresas</strong><br>en fechas especiales</p>
                    </div>
                    <div class="card">
                        <div class="capsule-container">
                            <div>
                                <img src="https://s3.amazonaws.com/colcafepdnimagenes/04.Recetas.png" alt="recetas">
                                <span>Deliciosas recetas</span>
                            </div>
                        </div>
                        <p class="card-text">Aprende<br><strong>recetas únicas</strong><br>para llenar de sabor<br>tus
                            bebidas</p>
                    </div>
                </div>
                <div class="dashed-row">
                    <span>Y muchos beneficios más,<br>descúbrelos visitando nuestro sitio</span>
                </div>
                <a href="https://capsulasexpressnutresa.com/" target="_blank" class="a-btn">Aquí</a>
                <div class="final-row">
                    <div style="width: 30%; margin: 0; padding: 0; display: inline-block">
                        <span>Además, por inscribirte</span>
                        <div class="capsule">
                            <table>
                                <tr>
                                    <td colspan="2">*RECIBE</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">5</td>
                                    <td>CÁPSULAS</td>
                                </tr>
                                <tr>
                                    <td>SURTIDAS</td>
                                </tr>
                                <tr>
                                    <td colspan="2">DE BIENVENIDA</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div style="width: 69%; margin: 0; padding: 0; display: inline-block"><img class="capsules-img"
                                                                                               src="https://s3.amazonaws.com/colcafepdnimagenes/02.Capsulas.png"
                                                                                               alt="capsulas_cafe"></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>
                *Las 5 cápsulas surtidas llegarán a tu dirección en un plazo de 15 días<br>
                hábiles después de la fecha inscripción en nuestro Club Express.
            </p>
            <span>Para más información ingresa a</span>
            <span><strong>www.capsulasexpressnutresa.com</strong></span>
            <span>o llama a la línea gratuita <strong style="font-size: 14px">018000-51-07-77.</strong></span>
        </div>
    </div>
</div>

</body>
</html>




